<?xml version="1.0"?>

<configuration>
  
  <!-- References for database connection -->
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>

    <!-- Enables authentication and roles -->
    <roleManager enabled="true"/>
    <authentication mode="Forms"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>

    <!-- Provider for user membership data -->
    <membership>
      <providers>
        <remove name="ASPNetSqlMembershipProvider"/>
        <add name="ASPNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false"/>
      </providers>
    </membership>

    <!-- Enables custom sitemaps -->
    <siteMap enabled="true">
      <providers>
        <add name="SuperLibrarianSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="SuperLib.sitemap"/>
        <add name="LibrarianSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Librarian.sitemap"/>
        <add name="UserSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="User.sitemap"/>
      </providers>
    </siteMap>

    <!-- Enables custom error pages -->
    <customErrors mode="On" defaultRedirect="~/error/GenericError.aspx">
      <error statusCode="404" redirect="~/error/FileError.aspx"/>
    </customErrors>
    
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  
</configuration>