<?xml version="1.0" encoding="utf-8"?>

<!-- Configuration file to determine which roles can access this folder -->
<configuration>
    <system.web>
        <authorization>
            <allow roles="SuperLibrarian" />
            <allow roles="Librarian" />
            <deny users="?" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>